.ion-color-transp {
	--ion-color-base: #ffeed62e;
	--ion-color-base-rgb: rgba(163, 163, 163, 0.452);
	--ion-color-contrast: #ffffff;
	--ion-color-contrast-rgb: rgb(255, 255, 255);
	--ion-color-shade: #ffeed62e;
	--ion-color-tint: #ffeed62e;
}

.ion-color-header {
	--ion-color-base: #140c02;
	--ion-color-base-rgb: rgb(20, 12, 2);
	--ion-color-contrast: #ffffff;
	--ion-color-contrast-rgb: rgb(255, 255, 255);
	--ion-color-shade: #140c02;
	--ion-color-tint: #140c02;
}

.ion-color-enviar {
	--ion-color-base: #ffc577;
	--ion-color-base-rgb: rgb(255, 197, 119);
	--ion-color-contrast: #000000;
	--ion-color-contrast-rgb: rgb(0,0,0);
	--ion-color-shade: #ffc577;
	--ion-color-tint: #ffc577;
}

.ion-color-claro {
	--ion-color-base: #f1e0c9;
	--ion-color-base-rgb: rgb(241, 224, 201);
	--ion-color-contrast: #140c02;
	--ion-color-contrast-rgb: rgb(20, 12, 2);
	--ion-color-shade: #f1e0c9;
	--ion-color-tint: #f1e0c9;
}

.iconBoton{
	margin: 0;
	margin-right: 10px;
}

ion-fab-button[data-desc] {
	position: relative;
	width: 68px;
	height: 68px;
	margin-bottom: 23%;
  }
  
  ion-fab-button[data-desc]::after {
	position: absolute;
	content: attr(data-desc);
	z-index: 1;
	right: -10px;
    bottom: 64px;
    padding: 9px;
    border-radius: 15px;
    color: white;
    font-size: 20px;
  }

.container-datos {
  width: 90%;
  padding: 10px;
  background: #bbbbbb00;
  border-radius: 5px;
  margin: auto; 
  text-align: center;
  	left: 0px;
    right: 0px;
    top: calc(var(--offset-top) * -1);
    bottom: calc(var(--offset-bottom) * -1);
    padding-left: var(--padding-start);
    padding-right: var(--padding-end);
    padding-top: calc(var(--padding-top) + var(--offset-top));
    padding-bottom: calc(var(--padding-bottom) + var(--keyboard-offset) + var(--offset-bottom));
    position: absolute;
    color: var(--color);
    box-sizing: border-box;
    overflow: hidden;
    touch-action: manipulation;
}

.container-detalle {
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 1100;
	top: 0;
	left: 0;
	background-color: #0e0c09eb;
	backdrop-filter: blur(5px);
	padding: 50px 0;
	text-align: center;
  }

  .titulo{
	text-align: center;
	background: #ffb3657d;
	color: white;
	padding: 5px;
	border-radius: 5px;
  }
  
.texto{
	margin-top: 5%;
	background: #ffeed62e;
	padding: 5px;
	border-radius: 5px;
}

.texto h4{
	margin-top: 10px;
}

.texto h1{
	margin-top: 0px;
	font-size: 35px;
}

.texto b{
	font-size: 40px;
	color: #ffc84c;
}

.estado{
	margin-top: 20%;
	background: #ffeed62e;
	padding: 5px;
	border-radius: 5px;
}

.estado h2{
	margin-top: 10px;
}

.estado h1{
	color: #ffc84c;
	font-size: 35px;
}

.Aceptado{
	color: #4ac450;
}

.Listo{
	color: #4ac450;
}

.Finalizado{
	color: #ff7158;
}


ion-icon{
  margin:auto;
  font-size: 43px;
}

ion-content{

  --background: none;
  background: url("../../../assets/fondo3.png");
  background-size: cover;
  background-position: center center;                                                                                           
}

ion-item {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  margin-bottom: 7px;
}

ion-button {
    margin-top: 5px;
    margin-bottom: 15px;
}

ion-label{
  color:rgb(201, 201, 201);
}

.rotate-center {
	-webkit-animation: rotate-center 1.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) 1s infinite both;
	        animation: rotate-center 1.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) 1s infinite both;
}

@-webkit-keyframes rotate-center{0%{-webkit-transform:rotate(0);transform:rotate(0)}100%{-webkit-transform:rotate(360deg);transform:rotate(360deg)}}@keyframes rotate-center{0%{-webkit-transform:rotate(0);transform:rotate(0)}100%{-webkit-transform:rotate(360deg);transform:rotate(360deg)}}


.slide-bottom {
	animation: slide-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes slide-bottom {
	0% {
		transform: translateY(0) scale(1);
	}
	100% {
		transform: translateY(160px) scale(1.5);
	}
}
