<ion-header>
  <ion-toolbar color="header">
    <ion-title>
      <ion-img style="width: 55px; height: 55px;" *ngIf="!spinner" src='assets/iconTransp2.png'></ion-img>
      <ion-img class="rotate-center" style="width: 55px; height: 55px;" *ngIf="spinner" src='assets/iconTransp2.png'></ion-img>
    </ion-title>
    <ion-buttons slot="end">
      <ion-menu-button style="margin: auto;" type="button" menu="menu" color="escanear"><ion-icon name="menu"></ion-icon></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content slot="fixed">
  <div class="container-datos">
    <form [formGroup]="form" (ngSubmit)="Registro()">
      <h3>Alta de supervisor/dueño</h3><br>
      <div>
        <div class="inputdiv">
          <ion-label>Nombre</ion-label>
          <ion-item color="transp" style="width: 140px;">
            <ion-input type='text' required id="nombre" formControlName="nombre"></ion-input>
          </ion-item>
          <ion-label class="invalid" *ngIf="form.controls['nombre'].errors?.['required'] && form.controls['nombre'].touched">
            Nombre inválido.
          </ion-label>
        </div>

        <div class="inputdiv" style="margin-left: 5%;">
          <ion-label>Apellido</ion-label>
          <ion-item color="transp" style="width: 140px;">
            <ion-input type='text' required id="apellido" formControlName="apellido"></ion-input>
          </ion-item>
          <ion-label class="invalid" *ngIf="form.controls['apellido'].errors?.['required'] && form.controls['apellido'].touched">
            Apellido inválido.
          </ion-label>
        </div>
      </div>

      <div>
        <div class="inputdiv">
          <ion-label>DNI</ion-label>
          <ion-item color="transp" style="width: 130px;">
            <ion-input type='number' required id="dni" formControlName="dni"></ion-input>
          </ion-item>
          <ion-label class="invalid" *ngIf="form.controls['dni'].errors?.['required'] && form.controls['dni'].touched
          || (form.controls['dni'].errors?.['min'] || form.controls['dni'].errors?.['max'])">
              DNI inválido.
          </ion-label>
        </div>

        <div class="inputdiv" style="margin-left: 5%;">
          <ion-label>CUIL</ion-label>
          <ion-item color="transp" style="width: 160px;">
            <ion-input type='number' required id="cuil" formControlName="cuil"></ion-input>
          </ion-item>
          <ion-label class="invalid" *ngIf="form.controls['cuil'].errors?.['required'] && form.controls['cuil'].touched
          || (form.controls['cuil'].errors?.['min'] || form.controls['cuil'].errors?.['max'])">
            CUIL inválido.
          </ion-label>
        </div>
      </div>

      <div class="inputdiv">
        <ion-label>Perfil</ion-label>
        <ion-item color="transp" style="width: 130px;">
          <ion-select id="tipo" placeholder="Seleccione" interface="action-sheet" formControlName="tipo" required>
            <ion-select-option value="supervisor">Supervisor</ion-select-option>
            <ion-select-option value="duenio">Dueño</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-label class="invalid" *ngIf="form.controls['tipo'].errors?.['required'] && form.controls['tipo'].touched">
          Seleccione un tipo.
        </ion-label>
      </div>

      <div>
        <ion-label>Foto</ion-label>
        <ion-button type="button" class="ingreso" fill="solid" expand="block" color="escanear" style="width: 80px; height: 45px" (click)="SacarFoto()"><ion-icon name="camera"></ion-icon></ion-button>
        <ion-img class="foto" [src]='this.dataUrl' id="foto"></ion-img>
      </div>

      <ion-button type="submit" class="ingreso" fill="solid" expand="block" color="enviar" style="margin-top: 23px;" [disabled]="form.invalid">Enviar</ion-button>
    </form>
  </div>
</ion-content>

<ion-fab horizontal="center" vertical="bottom">
  <ion-fab-button data-desc2="" color="header">
  </ion-fab-button>
</ion-fab>

<ion-fab horizontal="center" vertical="bottom">
  <ion-fab-button data-desc="Escanear DNI" color="escanear" (click)="Escanear()">
    <ion-icon name="barcode-outline"></ion-icon>
  </ion-fab-button>
</ion-fab>
<ion-footer>
  <ion-toolbar color="header">  
  </ion-toolbar>
</ion-footer>