.ion-color-header {
	--ion-color-base: #140c02;
	--ion-color-base-rgb: rgb(20, 12, 2);
	--ion-color-contrast: #ffffff;
	--ion-color-contrast-rgb: rgb(255, 255, 255);
	--ion-color-shade: #140c02;
	--ion-color-tint: #140c02;
}

.ion-color-escanear {
	--ion-color-base: #f1e0c9;
	--ion-color-base-rgb: rgb(241, 224, 201);
	--ion-color-contrast: #140c02;
	--ion-color-contrast-rgb: rgb(20, 12, 2);
	--ion-color-shade: #f1e0c9;
	--ion-color-tint: #f1e0c9;
}

.cerrar{
	margin-right: 4px;
	font-size: 25px;
}

ion-icon{
    margin:auto;
    font-size: 43px;
}

.rotate-center {
	-webkit-animation: rotate-center 1s ease-in-out infinite both;
	        animation: rotate-center 1s ease-in-out infinite both;
}

@-webkit-keyframes rotate-center{0%{-webkit-transform:rotate(0);transform:rotate(0)}100%{-webkit-transform:rotate(360deg);transform:rotate(360deg)}}@keyframes rotate-center{0%{-webkit-transform:rotate(0);transform:rotate(0)}100%{-webkit-transform:rotate(360deg);transform:rotate(360deg)}}
