<ion-header>
  <ion-toolbar color="header">
    <ion-title>
      <ion-img style="width: 55px; height: 55px;" *ngIf="!spinner" src='assets/iconTransp2.png'></ion-img>
      <ion-img class="rotate-center" style="width: 55px; height: 55px;" *ngIf="spinner" src='assets/iconTransp2.png'></ion-img>
    </ion-title>
    <ion-buttons slot="end">
      <ion-menu-button style="margin: auto;" type="button" menu="menu" color="escanear"><ion-icon name="menu"></ion-icon></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1>Testeo</h1><br>
  <ion-button type="button" fill="solid" expand="block" color="success" routerLink="../altaEmpleados">Alta Empleados</ion-button>
  <ion-button type="button" fill="solid" expand="block" color="success" routerLink="../altaClientes">Alta Clientes</ion-button>
  <ion-button type="button" fill="solid" expand="block" color="success" routerLink="../altaClienteAnonimo">Alta Cliente Anónimo</ion-button>
  <ion-button type="button" fill="solid" expand="block" color="success" routerLink="../altaSupervisor">Alta Supervisor</ion-button>
  <ion-button type="button" fill="solid" expand="block" color="success" routerLink="../altaMesa">Alta Mesa</ion-button>
  <ion-button type="button" fill="solid" expand="block" color="success" routerLink="../encuestaEmpleados">Encuesta empleados</ion-button>
  <ion-button type="button" fill="solid" expand="block" color="success" routerLink="../encuestaSupervisor">Encuesta Supervisor</ion-button>
  <ion-button type="button" fill="solid" expand="block" color="success" routerLink="../encuestaCliente">Encuesta Cliente</ion-button>
  <ion-button type="button" fill="solid" expand="block" color="success" routerLink="../homeSupervisor">Home supervisor</ion-button>
  <ion-button type="button" fill="solid" expand="block" color="success" routerLink="../homeCliente">Home cliente</ion-button>
  <ion-button type="button" fill="solid" expand="block" color="success" routerLink="../qrIngreso">Qr Ingreso</ion-button>
  <ion-button type="button" fill="solid" expand="block" color="success" routerLink="../realizarPedido">Realizar pedido</ion-button>
  <ion-button type="button" fill="solid" expand="block" color="success" routerLink="../listaDeEspera">Lista de Espera</ion-button>
  <ion-button type="button" fill="solid" expand="block" color="success" routerLink="../homeMozo">Home mozo</ion-button>

</ion-content>