<ion-header>
  <ion-toolbar color="header">
    <ion-title>
      <ion-img style="width: 55px; height: 55px;" src='assets/iconTransp2.png'></ion-img>
    </ion-title>
    <ion-buttons slot="end">
      <ion-menu-button style="margin: auto;" type="button" menu="menu" color="escanear"><ion-icon name="menu"></ion-icon></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content slot="fixed">
  <div class="container-datos">
    <img src="assets/iconTransp.png" style="margin-top: 10%;" width="120px">
  
    <div style="height: 250px;">
      <ion-icon name="qr-code-outline" style="margin-top: 20%; font-size: 150px;" color="claro" (click)="this.Escanear()"></ion-icon>
    </div>
    <div class="texto">
      <h4>Escanea el QR del local para entrar en la lista de espera.</h4>
    </div>
  </div>
</ion-content>