.ion-color-transp {
	--ion-color-base: #ffeed62e;
	--ion-color-base-rgb: rgba(163, 163, 163, 0.452);
	--ion-color-contrast: #ffffff;
	--ion-color-contrast-rgb: rgb(255, 255, 255);
	--ion-color-shade: #ffeed62e;
	--ion-color-tint: #ffeed62e;
}

.ion-color-header {
	--ion-color-base: #140c02;
	--ion-color-base-rgb: rgb(20, 12, 2);
	--ion-color-contrast: #ffffff;
	--ion-color-contrast-rgb: rgb(255, 255, 255);
	--ion-color-shade: #140c02;
	--ion-color-tint: #140c02;
}

.ion-color-enviar {
	--ion-color-base: #ffc577;
	--ion-color-base-rgb: rgb(255, 197, 119);
	--ion-color-contrast: #000000;
	--ion-color-contrast-rgb: rgb(0,0,0);
	--ion-color-shade: #ffc577;
	--ion-color-tint: #ffc577;
}

.ion-color-escanear {
	--ion-color-base: #f1e0c9;
	--ion-color-base-rgb: rgb(241, 224, 201);
	--ion-color-contrast: #140c02;
	--ion-color-contrast-rgb: rgb(20, 12, 2);
	--ion-color-shade: #f1e0c9;
	--ion-color-tint: #f1e0c9;
}

.container-datos {
  width: 90%;
  padding: 10px;
  background: #bbbbbb00;
  border-radius: 5px;
  margin: auto; 
}

ion-fab-button[data-desc2] {
  position: relative;
  width: 81px;
  height: 74px;
  margin-bottom: 22%;
  margin-left: -6.8px;
}

ion-fab-button[data-desc] {
  position: relative;
  width: 68px;
  height: 68px;
  margin-bottom: 23%;
}

ion-fab-button[data-desc]::after {
  position: absolute;
  content: attr(data-desc);
  z-index: 1;
  right: -16px;
  bottom: -29px;
  padding: 9px;
  border-radius: 15px;
  color: white;
}

ion-icon{
  margin:auto;
  font-size: 43px;
}

.enviar{
  height: 40px; 
  width: 130px;
  margin-top: 20px;
  display: inline-flex;
}

.listado{
  height: 40px; 
  width: 120px;
  margin-top: 20px;
  margin-left: 48px;
}


.foto{
  width: 110px;
  height: 96px; 
  display: inline-flex; 
  margin-left: 50%; 
  margin-top: -25%;
}

.invalid{
  color:#b7444f;
}

ion-content{

  --background: none;
  background: url("../../../assets/fondo3.png");
  background-size: cover;
  background-position: center center;                                                                                           
}

ion-item {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  margin-bottom: 7px;
}

ion-button {
    margin-top: 5px;
    margin-bottom: 15px;
}

ion-label{
  color:rgb(201, 201, 201);
}

.inputdiv{
  display: inline-table; 
  height: 96px;
}

.rotate-center {
	-webkit-animation: rotate-center 1s ease-in-out infinite both;
	        animation: rotate-center 1s ease-in-out infinite both;
}

@-webkit-keyframes rotate-center{0%{-webkit-transform:rotate(0);transform:rotate(0)}100%{-webkit-transform:rotate(360deg);transform:rotate(360deg)}}@keyframes rotate-center{0%{-webkit-transform:rotate(0);transform:rotate(0)}100%{-webkit-transform:rotate(360deg);transform:rotate(360deg)}}
