<ion-header>
  <ion-toolbar color="header">
    <ion-title>
      <ion-img style="width: 55px; height: 55px;" *ngIf="!spinner" src='assets/iconTransp2.png'></ion-img>
      <ion-img class="rotate-center" style="width: 55px; height: 55px;" *ngIf="spinner" src='assets/iconTransp2.png'></ion-img>
    </ion-title>
    <ion-buttons slot="end">
      <ion-menu-button style="margin: auto;" type="button" menu="menu" color="escanear"><ion-icon name="menu"></ion-icon></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content slot="fixed">
  <div class="container-datos">
    <h3 class="titulo">Pedidos</h3>
    <h1>{{tiempo}}</h1>
    <div class="card-body" *ngFor="let pedido of pedidos">
      <div class="datos">
        <h1>Mesa: <b style="color: #ffc84c;">{{pedido.mesa}}</b></h1>
        <div *ngFor="let prod of pedido.productos">
          <div *ngIf="prod.tipo == 'plato'">
            <hr/><h5><b>{{prod.nombre}}</b></h5>
              <p>Cantidad: {{prod.cantidad}}</p>
              <img [src]="prod.fotos[0]" style="width: 126px; height: 126px; border-radius: 5%;"/>
          </div>
        </div>
        <hr/><ion-button *ngIf="pedido.estado == 'Aceptado'" color="enviar" (click)="Preparar(pedido)">Preparar</ion-button>
        <ion-button *ngIf="" color="enviar">Productos listos</ion-button>
      </div>
    </div>
  </div>
</ion-content>
    

