<ion-header>
  <ion-toolbar color="header">
    <ion-title>
      <ion-img style="width: 55px; height: 55px;" *ngIf="!spinner" src='assets/iconTransp2.png'></ion-img>
      <ion-img class="rotate-center" style="width: 55px; height: 55px;" *ngIf="spinner" src='assets/iconTransp2.png'></ion-img>
    </ion-title>
    <ion-buttons slot="end">
      <ion-menu-button style="margin: auto;" type="button" menu="menu" color="escanear"><ion-icon name="menu"></ion-icon></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content slot="fixed">
  <div class="container-datos">
    <h3 class="titulo">Clientes sin habilitar</h3>
    <div class="card-body" *ngFor="let item of clientesValidos">
    <div class="datos">
      <div class="foto">
        <ion-slides mode="md" pager="md" scrollbar="md">
          <ion-slide>
            <div class="slide">
              <img [src]="item.foto" style="width: 126px; height: 126px; border-radius: 5%;"/>
            </div>
          </ion-slide>
        </ion-slides>
      </div>
      <p style="font-size: 20px; height: 46px;">{{item.nombre}}</p>
      <div style="text-align: center;">
        <ion-label>Habilitar</ion-label>
        <ion-icon name="checkmark-circle" style="color: #8bff77; height: 45px; margin-left: 17px;" (click)="habilitarCliente(item)"></ion-icon>
        <ion-label>Rechazar</ion-label>
        <ion-icon name="close-circle-outline" style="color: #ff8577; height: 45px; margin-left: 17px;" (click)="rechazarCliente(item)"></ion-icon>
      </div>
    </div>
  </div>
</div>
</ion-content>