<ion-header>
  <ion-toolbar color="header">
    <ion-title>
      <ion-img style="width: 55px; height: 55px;" *ngIf="!spinner" src='assets/iconTransp2.png'></ion-img>
      <ion-img class="rotate-center" style="width: 55px; height: 55px;" *ngIf="spinner" src='assets/iconTransp2.png'></ion-img>
    </ion-title>
    <ion-buttons slot="end">
      <ion-menu-button style="margin: auto;" type="button" menu="menu" color="claro"><ion-icon name="menu"></ion-icon></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content slot="fixed">
  <div class="container-datos">
    <h3 class="titulo">Pedidos mozo</h3>
    <div class="card-body" *ngFor="let pedido of pedidos">
      <div class="datos">
        <h1><b class={{pedido.estado}}>{{pedido.estado}}</b></h1>
        <h2>Mesa: {{pedido.mesa}}</h2>
        <div *ngFor="let prod of pedido.productos">
          <hr/><h5><b>{{prod.nombre}}</b></h5>
            <p>Cantidad: {{prod.cantidad}}</p>
            <img [src]="prod.fotos[0]" style="width: 126px; height: 126px; border-radius: 5%;"/>
        </div>
        <hr/><h2>Total: <b>${{pedido.total}}</b></h2>
        <hr/><ion-button *ngIf="pedido.estado == 'Solicitado'" color="enviar" (click)="Enviar(pedido)">Enviar a preparar</ion-button>
        <ion-button *ngIf="pedido.estado == 'Listo'" color="enviar" (click)="Entregar(pedido)">Entregar a cliente</ion-button>
        <ion-button *ngIf="pedido.estado == 'Pagado'" color="enviar" (click)="Finalizar(pedido)">Confirmar pago</ion-button>
      </div>
    </div>
    <div class="datos" *ngIf="pedidos.length == 0">
      <ion-icon name="fast-food-outline"></ion-icon>
      <h1 style="color: white;">No hay pedidos por el momento</h1>
    </div>
  </div>
</ion-content>
    
