<ion-header>
  <ion-toolbar color="header">
    <ion-title>
      <ion-img style="width: 55px; height: 55px;" *ngIf="!spinner" src='assets/iconTransp2.png'></ion-img>
      <ion-img class="rotate-center" style="width: 55px; height: 55px;" *ngIf="spinner" src='assets/iconTransp2.png'></ion-img>
    </ion-title>
    <ion-buttons slot="end">
      <ion-menu-button style="margin: auto;" type="button" menu="menu" color="escanear"><ion-icon name="menu"></ion-icon></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content slot="fixed">
  <div class="container-datos">
    <h1 style="text-align: center;" *ngIf="!anonimo">Registro</h1>
    <h1 style="text-align: center;" *ngIf="anonimo">Registro anónimo</h1>

    <ion-item class="toggle">
      <ion-toggle [(ngModel)]="anonimo"></ion-toggle>
      <ion-label>Anónimo</ion-label>
    </ion-item>

    <form [formGroup]="form" (ngSubmit)="Registro()" *ngIf="!anonimo">

      <div>
        <div class="inputdiv">
          <ion-label>Correo electrónico</ion-label>
          <ion-item color="transp" style="width: 160px;">
            <ion-input type='email' required id="email" formControlName="email"></ion-input>
          </ion-item>
          <ion-label class="invalid" *ngIf="form.controls['email'].errors?.['required'] && form.controls['email'].touched
          || form.controls['email'].errors?.['email']">
            Correo inválido.
          </ion-label>
        </div>

        <div class="inputdiv" style="margin-left: 5%;">
          <ion-label>Contraseña</ion-label>
          <ion-item color="transp" style="width: 140px;">
            <ion-input type='password' required id="password" formControlName="password"></ion-input>
          </ion-item>
          <ion-label class="invalid" *ngIf="form.controls['password'].errors?.['required'] && form.controls['password'].touched">
            Contraseña inválida.
          </ion-label>
        </div>
      </div>


        <div class="inputdiv">
          <ion-label>Nombre</ion-label>
          <ion-item color="transp" style="width: 140px;">
            <ion-input type='text' required id="nombre" formControlName="nombre"></ion-input>
          </ion-item>
          <ion-label class="invalid" *ngIf="form.controls['nombre'].errors?.['required'] && form.controls['nombre'].touched">
            Nombre inválido.
          </ion-label>
        </div>

        <div class="inputdiv" style="margin-left: 5%;">
          <ion-label>Apellido</ion-label>
          <ion-item color="transp" style="width: 140px;">
            <ion-input type='text' required id="apellido" formControlName="apellido"></ion-input>
          </ion-item>
          <ion-label class="invalid" *ngIf="form.controls['apellido'].errors?.['required'] && form.controls['apellido'].touched">
            Apellido inválido.
          </ion-label>
        </div>

        <div class="inputdiv">
          <ion-label>DNI</ion-label>
          <ion-item color="transp" style="width: 130px;">
            <ion-input type='number' required id="dni" formControlName="dni"></ion-input>
          </ion-item>
          <ion-label class="invalid" *ngIf="form.controls['dni'].errors?.['required'] && form.controls['dni'].touched
          || (form.controls['dni'].errors?.['min'] || form.controls['dni'].errors?.['max'])">
              DNI inválido.
          </ion-label>
        </div>

      <div>
        <ion-label>Foto</ion-label>
        <ion-button type="button" class="ingreso" fill="solid" expand="block" color="escanear" style="width: 80px; height: 45px" (click)="SacarFoto()"><ion-icon name="camera"></ion-icon></ion-button>
        <ion-img class="foto" [src]='this.dataUrl' id="foto"></ion-img>
      </div>

      <ion-button type="submit" class="ingreso" fill="solid" expand="block" color="enviar" id="enviar" style="margin-top: 23px;" [disabled]="form.invalid">Enviar</ion-button>
    </form>

    <form [formGroup]="formAnom" (ngSubmit)="Registro()" *ngIf="anonimo">
        <div class="inputdiv">
          <ion-label>Nombre</ion-label>
          <ion-item color="transp" style="width: 140px;">
            <ion-input type='text' required id="nombre" formControlName="nombre"></ion-input>
          </ion-item>
          <ion-label class="invalid" *ngIf="formAnom.controls['nombre'].errors?.['required'] && formAnom.controls['nombre'].touched">
            Nombre inválido.
          </ion-label>
        </div>

        <div>
          <ion-label>Foto</ion-label>
          <ion-button type="button" class="ingreso" fill="solid" expand="block" color="escanear" style="width: 80px; height: 45px" (click)="SacarFoto()"><ion-icon name="camera"></ion-icon></ion-button>
          <ion-img class="foto" [src]='this.dataUrl' id="foto"></ion-img>
        </div>

      <ion-button type="submit" class="ingreso" fill="solid" expand="block" color="enviar" id="enviar" style="margin-top: 23px;" [disabled]="formAnom.invalid">Enviar</ion-button>
    </form>
  </div>
</ion-content>

<ion-fab horizontal="center" vertical="bottom" *ngIf="!anonimo">
  <ion-fab-button data-desc2="" color="header">
  </ion-fab-button>
</ion-fab>

<ion-fab horizontal="center" vertical="bottom" *ngIf="!anonimo">
  <ion-fab-button data-desc="Escanear DNI" color="escanear" (click)="Escanear()">
    <ion-icon name="barcode-outline"></ion-icon>
  </ion-fab-button>
</ion-fab>
<ion-footer>
  <ion-toolbar color="header">  
  </ion-toolbar>
</ion-footer>